@media screen and (min-width: 1024px) {
    
     .navbar{     
          
       font-size: 1.3em;
       
     }
    
     .header{
       
         height: 45%;
         
     }

     .logo{
             height: 270px;
             width: 270px;                
             float:left;   
             background-size: 270px;          
             margin: 0;                                    
         }

.menu__tablet{
display: block;
width: 100%;
height: 100%;
margin: 0 0 0 3%;
} 
.ul__tablet{

list-style-type: none;
float: left;
width: 35%;
margin-top:10%;

}



.menu__tablet-esq{
/* text-align: right; */
margin-right: 5%;
float: left;

}
.menu__tablet-dir{
/* text-align: right; */
margin-left: 5%;
float: left;

}

 }