@media screen and (min-width: 768px) {
    
          *{
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
    
            body{
                background:gray;
            }
    
        .header{
                width: 100%;
                height: 18%;
                padding: 2%;
                 background-color: #FFFFFF; 
                
            }
    
            
            .logo{
                    height: 200px;
                    width: 200px;
                    margin: 0 5% 0 5%;
                    float:left;
                    background: url(img/logo.png) no-repeat;
                    background-size: 200px;
                                                  
                }
    
            
        .navbar{
                font-family: 'Candal', sans-serif;          
                font-size: 1em;
                           
        }
    
    .menu__title{
        width: 100%;
    }
    
    .ul__mobile{
        display: none;
    
    }
    
    .menu__tablet-esq{
    text-align: right;
    margin-bottom: 15%;
    
    }
    
    
    .menu__tablet-dir{
    text-align: left;
    margin-bottom: 15%;
    
    }
    
    
    .li__mobile{
        display: none;
    }
    
    .ul__tablet{
    display: block;
    list-style-type: none;
    float: left;
    margin-top:4%;
      
    }
        ul{
            list-style-type: none;
        }
      .menu__tablet{
       display: block;
       width: 55%;
       height: 100%;
       margin: 0 auto;
     } 
    
     .logo__mobile{
    
        display: none;
    
        }
    
        li a{        
        color: #EC2336;
        }
        
        }
    
    